<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css"/>
        <title> Not Allowed Here | 403 Error </title>
        <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
    <script src="//code.tidio.co/t373soumkm3l1ecomnx37qrbqtjrlkla.js" async></script>    </head>
    <body>
    <div class="illustration">
        <div class="gandalf-body">
             <div class="gandalf-moustache"></div>
            <div class="gandalf-beard"></div>
        </div>
        <div class="gandalf-feet"></div>
        <div class="gandalf-hand-left"></div>
        <div class="gandalf-hand-right"></div>
        <div class="sword"></div>
        <div class="spear"></div>
        <div class="spear-head"></div>
        <div class="message">
        <h2>You Shall Not Pass</h2>
        <p>403 Forbidden</p>

        <p style="padding-top:7vh">This section is only meant for xendex executives</p>
        <p style="padding-top:15vh"> <a href="/" style="color:green"> Go back Dashboard </a> </p>        </div>
    </div>
    </body>
</html>