
<style> 

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
    height: 650px;
    width: ;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
       .contant_box_404 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10vh; /* Adjust the height as per your requirement */
      }
      
      .contant_box_404 h3 {
        padding: 10px;
      }
      
      .contant_box_404 p {
        margin-bottom: 20px;
      }
      
      .link_404 {
        display: inline-block;
        padding: 10px 20px;
        background-color: #00FF00!important;
        color: #ccc ;
        text-decoration: none;
      }
      
      /* Media Queries */
      @media (max-width: 768px) {
        .contant_box_404 {
          height: auto;
          padding: 20px;
        }
      }

</style>
<title> Page not found | 404 Error </title>

<section class="page_404">
  <div class="container">
    <div class="row"> 
    <div class="col-sm-12 ">
    <div class="col-sm-10 col-sm-offset-1  text-center">
    <div class="four_zero_four_bg">
      
    
    
    </div>
    
    <div class="contant_box_404">
    <h3 class="h2">
    Look like you're lost
    </h3>
    
    <p>the page you are looking for on xendex.com.ng is not avaible!</p>
    
    <a href="/" class="link_404">Go to Dashboard</a>
  </div>
    </div>
    </div>
    </div>
  </div>
</section>
<script src="//code.tidio.co/t373soumkm3l1ecomnx37qrbqtjrlkla.js" async></script>

