
<footer class="footer">
    <div class="footer-block">
        <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-lg-4"><br>
    <br>
    <div class="footer-navigation">
    <center>
    <a href="index-1.htm">Home<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="People-1.html">People<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Services-1.html">Services<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Expertise-1.html">Expertise<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Resources-1.html">Resources</a>
    </center>
    </div>
    </div>
            <div class="col-lg-4"><br><center><img alt="WestendTitles National Commercial Services" class="img-fluid" src="../static/CTICNCSTemplateSite/media/ChicagoTitle/NCS/CTICIconLogo-1.png"></center></div>
            <div class="d-none d-md-block col-lg-4"><br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
    <div class="footer-navigation">
    <center>
    <a href="News-Events-1.html">News<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Contact-1.html">Contact<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Site-Map-1.html">Site&nbsp;Map<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="w3c/privacy-1.pdf" target="_blank" rel="noreferrer">Privacy&nbsp;Policy&nbsp;(PDF)</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="https://www.fnf.com/californiaprivacy" target="_blank" rel="noreferrer">California&nbsp;Privacy</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="getattachment/Terms/Terms-1.pdf" target="_blank" rel="noreferrer">Terms&nbsp;of&nbsp;Use</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="https://fnf.com/accessibility" target="_blank" rel="noreferrer">Accessibility</a>
    </center>
    </div>
    </div>
            <div class="col-12 d-md-none">
    <div class="footer-navigation">
    <center>
    <a href="index-1.htm">Home<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="People-1.html">People<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Services-1.html">Services<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Expertise-1.html">Expertise<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Resources-1.html">Resources<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="News-Events-1.html">News<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Contact-1.html">Contact<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="Site-Map-1.html">Site&nbsp;Map<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="/holiday-e-card">Holiday&nbsp;e-card<span class='footer-pipe'>&nbsp;&nbsp;/&nbsp;</span></a>
    <a href="w3c/privacy-1.pdf" target="_blank" rel="noopener">Privacy Policy (PDF)</a>&nbsp&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="https://www.fnf.com/californiaprivacy" target="_blank" rel="noopener">California Privacy</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="getattachment/Terms/Terms-1.pdf" target="_blank" rel="noopener">Terms of Use</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="https://fnf.com/accessibility" target="_blank" rel="noopener">Accessibility</a>
    </center>
    </div></div>
        </div>
        <div class="col-12 footer-copyright">
            Copyright ©
            
            2015 -  
            
            2023 Chicago&nbsp;Title&nbsp;. All Rights Reserved.
        </div>
        </div>
        <div class="footer-block footer-disclaimer d-none d-md-block">
        <div class="container">
            *The statements made on this web page and any page that follows within the WestendTitles website are not intended,
            and shall not be construed to expressly or impliedly issue or deliver any form of written guaranty, affirmation, indemnification, or certification
            of any fact, insurance coverage or conclusion of law.<br><br>
        </div>
        </div>
        <span style="display:none;">Box1</span>
    </div>
    </footer>